[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "notion-client>=2.7.0",
    "requests>=2.32.5",
    "streamlit>=1.52.2",
]
